Repository nh4tl4/learn-vocabulary-english: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:backend, lint:frontend, test:backend, test:frontend, build:backend, build:frontend

lint:backend:
  stage: lint
  image: node:18-alpine
  script:
  - cd apps/backend
  - npm ci
  - npm run lint

lint:frontend:
  stage: lint
  image: node:18-alpine
  script:
  - cd apps/frontend
  - npm ci
  - npm run lint

test:backend:
  stage: test
  image: node:18-alpine
  services:
  - postgres:15-alpine
  variables:
    POSTGRES_DB: test_db
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: test_password
    DB_HOST: postgres
    DB_PORT: 5432
    DB_USERNAME: postgres
    DB_PASSWORD: test_password
    DB_NAME: test_db
    NODE_ENV: test
  ...

test:frontend:
  stage: test
  image: node:18-alpine
  script:
  - cd apps/frontend
  - npm ci
  - npm run build
  - npm run test || echo "Tests completed"
  artifacts:
    paths:
    - apps/frontend/coverage/

build:backend:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: 1
    DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

build:frontend:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: 1
    DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

main: main
  .env.dockerhub.example
  SECURITY-NOTICE.md
  apps/backend/.env
  apps/backend/.env.example
  apps/frontend/.env
  apps/frontend/.env.example
  scripts/docker-hub.sh
Due: lint:backend, lint:frontend, test:backend, test:frontend, build:backend, build:frontend

main: main
  .gitlab-ci.yml
Due: build:backend, build:frontend

debug: simplify GitLab CI/CD pipeline with debug commands to find Dockerfile issue
  .gitlab-ci.yml
Due: build:backend, build:frontend

fix: correct YAML syntax in GitLab CI/CD pipeline rules
  .gitlab-ci.yml
Due: build:backend, build:frontend

fix: simplify GitLab CI/CD YAML syntax using only instead of rules
  .gitlab-ci.yml
Due: build:backend, build:frontend

fix: add missing Dockerfile for backend and frontend - resolve GitLab CI/CD build failure
  apps/backend/Dockerfile
  apps/frontend/Dockerfile
Due: lint:backend, lint:frontend, test:backend, test:frontend, build:backend, build:frontend

Add Render.com deployment configuration
  .env.render
  .gitlab-ci.yml
  apps/backend/Dockerfile
  apps/backend/src/app.controller.ts
  apps/backend/src/app.module.ts
  apps/frontend/Dockerfile
  docs/RENDER-DEPLOY.md
  scripts/fast-build.sh
  scripts/render-deploy.sh
Due: lint:backend, lint:frontend, test:backend, test:frontend, build:backend, build:frontend

render: main
  .gitignore
  render.yaml
Due: none

Fix render.yaml and .gitignore for Render.com deployment
  .gitignore
  render.yaml
Due: none

Fix Dockerfiles for Render.com deployment - simplify build process
  apps/backend/Dockerfile
  apps/frontend/Dockerfile
Due: lint:backend, lint:frontend, test:backend, test:frontend, build:backend, build:frontend

Fix backend start:prod script - add .js extension to dist/main
  apps/backend/package.json
Due: lint:backend, test:backend, build:backend

Add debug logging to backend Dockerfile to troubleshoot build issue
  apps/backend/Dockerfile
Due: lint:backend, test:backend, build:backend

Fix port binding issue in main.ts - use PORT env variable and bind to 0.0.0.0
  apps/backend/Dockerfile
  apps/backend/src/main.ts
Due: lint:backend, test:backend, build:backend

Add comprehensive debug logging to identify build issue
  apps/backend/Dockerfile
Due: lint:backend, test:backend, build:backend

Fix NestJS build path - update start:prod to use dist/src/main.js
  apps/backend/Dockerfile
  apps/backend/package.json
Due: lint:backend, test:backend, build:backend

Fix Render health check - use port 10000 instead of 3000
  apps/backend/Dockerfile
  apps/backend/src/main.ts
Due: lint:backend, test:backend, build:backend

Fix health check timeout - remove hardcoded PORT and fix healthCheckPath
  apps/backend/src/main.ts
  render.yaml
Due: lint:backend, test:backend, build:backend

Configure frontend to connect with backend and database - add connection test component
  apps/frontend/src/app/page.tsx
  apps/frontend/src/components/ConnectionTest.tsx
  apps/frontend/src/lib/api.ts
Due: lint:frontend, test:frontend, build:frontend

Revert "Configure frontend to connect with backend and database - add connection test component"
  apps/frontend/src/app/page.tsx
  apps/frontend/src/components/ConnectionTest.tsx
  apps/frontend/src/lib/api.ts
Due: lint:frontend, test:frontend, build:frontend

Fix frontend environment variables - set NEXT_PUBLIC_API_URL in render.yaml and add debug logging
  apps/frontend/src/lib/api.ts
  render.yaml
Due: lint:frontend, test:frontend, build:frontend

Clean up api.ts - remove merge conflicts and fix backend URL
  apps/frontend/src/lib/api.ts
Due: lint:frontend, test:frontend, build:frontend

1: main
  apps/frontend/src/lib/api.ts
Due: lint:frontend, test:frontend, build:frontend

Fix environment variables - force production API URL in next.config.js and remove conflicting .env file
  apps/frontend/next.config.js
  apps/frontend/src/lib/api.ts
Due: lint:frontend, test:frontend, build:frontend

Fix backend URL - use correct vocabulary-backend-lm26.onrender.com
  apps/frontend/next.config.js
Due: lint:frontend, test:frontend, build:frontend

Fix database migrations - auto-run migrations on startup and fix migration paths
  apps/backend/Dockerfile
  apps/backend/data-source.ts
Due: lint:backend, test:backend, build:backend

Improve migration script - use direct typeorm command for better reliability
  apps/backend/Dockerfile
Due: lint:backend, test:backend, build:backend

Fix build error: Replace updateProgress with processStudySession API
  apps/frontend/src/app/learn/page.tsx
Due: lint:frontend, test:frontend, build:frontend

Fix TypeScript build errors: Update naming consistency from lastReviewDate to lastReviewedAt
  apps/backend/src/database/entities/user-vocabulary.entity.ts
  apps/backend/src/vocabulary/learning.service.ts
Due: lint:backend, test:backend, build:backend

add: main
  DEPLOYMENT.md
  apps/backend/package.json
  apps/backend/tsconfig.build.json
  deploy-render.sh
  render.yaml
Due: lint:backend, test:backend, build:backend

Fix TypeScript build issues for Render deployment
  apps/backend/package.json
  apps/backend/src/data-source.ts
  apps/frontend/package.json
Due: lint:backend, lint:frontend, test:backend, test:frontend, build:backend, build:frontend

Fix js-cookie TypeScript declarations for frontend build
  apps/frontend/src/types/js-cookie.d.ts
  apps/frontend/tsconfig.json
Due: lint:frontend, test:frontend, build:frontend

Fix OpenAI API types and data-source import paths
  apps/backend/src/ai/ai.service.ts
  apps/backend/src/data-source.ts
Due: lint:backend, test:backend, build:backend

Fix OpenAI API TypeScript error in chatWithAI method
  apps/backend/src/ai/ai.service.ts
  apps/frontend/src/store/authStore.ts
Due: lint:backend, lint:frontend, test:backend, test:frontend, build:backend, build:frontend

Fix SQLite compatibility: change enum to varchar in UserVocabulary entity
  apps/backend/src/database/entities/user-vocabulary.entity.ts
Due: lint:backend, test:backend, build:backend

Fix PostgreSQL configuration: use DATABASE_URL and restore enum support
  apps/backend/src/data-source.ts
  apps/backend/src/database/entities/user-vocabulary.entity.ts
  render.yaml
Due: lint:backend, test:backend, build:backend

Setup selective deployment: build filters and GitHub Actions
  .github/workflows/deploy.yml
  apps/backend/src/app.module.ts
  render.yaml
Due: lint:backend, test:backend, build:backend

Fix PostgreSQL migration syntax: replace SQLite syntax with PostgreSQL
  apps/backend/src/database/migrations/1704000000000-AddTopicToVocabulary.ts
Due: lint:backend, test:backend, build:backend

main: main
  .gitlab-ci.yml
  docs/GITLAB-RENDER-SETUP.md
  scripts/setup-cicd.sh
Due: build:backend, build:frontend

main: main
  apps/backend/src/database/migrations/1703000000000-SeedVocabulary.ts
  apps/backend/src/database/migrations/1703100000000-SeedBasicVocabulary1.ts
  apps/backend/src/database/migrations/1703200000000-SeedBasicVocabulary2.ts
  apps/backend/src/database/migrations/1703300000000-SeedBasicVocabulary3.ts
  apps/backend/src/database/migrations/1703400000000-SeedBasicVocabulary4.ts
  apps/backend/src/database/migrations/1703500000000-SeedBasicVocabulary5.ts
  apps/backend/src/database/migrations/1703600000000-SeedBasicVocabulary6.ts
  apps/backend/src/database/migrations/1703700000000-SeedBasicVocabulary7.ts
  apps/backend/src/database/migrations/1703800000000-SeedBasicVocabulary8.ts
  apps/backend/src/database/migrations/1703900000000-EnhanceLearningSystem.ts
  apps/backend/src/database/migrations/1704000000000-AddTopicToVocabulary.ts
  apps/backend/src/database/migrations/1751140000000-AddImageUrlToVocabulary.ts
  apps/backend/src/vocabulary/vocabulary.controller.ts
  apps/backend/src/vocabulary/vocabulary.service.ts
  apps/backend/tsconfig.build.tsbuildinfo
  apps/frontend/src/lib/api.ts
  apps/frontend/src/store/authStore.ts
  vocabulary-data/animals.json
  vocabulary-data/body_parts.json
  vocabulary-data/business.json
  vocabulary-data/clothing.json
  vocabulary-data/colors.json
  vocabulary-data/education.json
  vocabulary-data/food.json
  vocabulary-data/fruits.json
  vocabulary-data/health_medical.json
  vocabulary-data/house_furniture.json
  vocabulary-data/sports.json
  vocabulary-data/technology.json
  vocabulary-data/transportation.json
  vocabulary-data/travel.json
  vocabulary-data/weather.json
Due: lint:backend, lint:frontend, test:backend, test:frontend, build:backend, build:frontend

Path conditions:
  lint:backend: any of: apps/backend/**/*
  lint:frontend: any of: apps/frontend/**/*
  test:backend: any of: apps/backend/**/*
  test:frontend: any of: apps/frontend/**/*
  build:backend: any of: apps/backend/**/*, docker-compose*.yml, .gitlab-ci.yml
  build:frontend: any of: apps/frontend/**/*, docker-compose*.yml, .gitlab-ci.yml
